/*==========GOOGLE FONTS=========*/
@import url("https://fonts.googleapis.com/css2?family=Changa+One&family=Montserrat&family=Poppins:wght@400;600;700&display=swap");
/*==============VARIABLES=============*/
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin-top: 3rem;
  font-family: "Poppins", sans-serif;
  font-size: 0.938rem;
  background-color: hsl(45, 0%, 100%);
  color: hsl(45, 4%, 35%);
}

h1, h2, h3 {
  font-weight: 600;
  color: hsl(45, 4%, 15%);
  line-height: 1.5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.section {
  padding: 4.5rem 0 1rem;
}
.section_title, .section_title-center {
  font-size: 1.25rem;
  color: hsl(45, 4%, 15%);
  text-align: center;
  margin-bottom: 1rem;
}

.svg__color {
  fill: hsl(45, 98%, 60%);
}
.svg__blob {
  fill: hsl(45, 98%, 85%);
}
.svg__img {
  width: 300px;
  justify-self: center;
}

.container {
  max-width: 968px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100%;
  border-color: hsl(45, 0%, 100%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: 0.5s;
}

.nav {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}
@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    padding: 2.5rem 0;
    width: 90%;
    top: -100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: 0.4s;
    border-radius: 2rem;
    z-index: 100;
  }
}
.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
}
.nav__link, .nav__logo, .nav__toggle {
  color: hsl(45, 4%, 15%);
  font-weight: 600;
}
.nav__toggle {
  font-size: 1.3rem;
  cursor: pointer;
}

.show-menu {
  top: 4rem;
}

.home__container {
  row-gap: 3rem;
}
.home__title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
}
.home__description {
  margin-bottom: 2rem;
}

.button {
  display: inline-block;
  background-color: hsl(45, 98%, 60%);
  color: #1a1a1a;
  padding: 0.75rem 1.5rem;
  border-radius: 3rem;
  font-weight: 600;
  transition: 0.3s;
}
.button:hover {
  background-color: hsl(45, 98%, 53%);
}
.button__header {
  display: none;
}
.button-link {
  background: none;
  padding: 0;
  color: hsl(45, 4%, 15%);
}
.button:hover {
  background-color: transparent;
}

.about__container {
  gap: 2.5rem;
}
.about__data {
  text-align: center;
}

.security__container {
  gap: 2.5rem;
}
.security__data {
  text-align: center;
}

.services__container {
  padding-top: 1rem;
}
.services__data {
  display: grid;
  row-gap: 1rem;
  background-color: #fff;
  box-shadow: 0 2px 6px hsla(45, 100%, 15%, 0.15);
  padding: 2rem 1.5rem;
  border-radius: 1rem;
  text-align: center;
}
.services__img {
  width: 135px;
  justify-self: center;
  margin-bottom: 0.5rem;
}/*# sourceMappingURL=main.css.map */