//============BUTTONS============

.button{
    display: inline-block;
    background-color: $first-color;
    color: #1a1a1a;
    padding: .75rem 1.5rem;
    border-radius: 3rem;
    font-weight: $font-semi-bold;
    transition: .3s;
    &:hover{
        background-color: $first-color-alt;
    }

    &__header{
        display: none;
    }
    &-link{
        background: none;
        padding: 0;
        color: $title-color;
    }
    &:hover{
        background-color: transparent;
    }
}